:root {
    --mainBlue:#192bc2;
    --cgBlue:#0471a6;
    --LightCobaltBlue:#89AAE6;
    --mainWhite:#f1fffa;  
    --mainBlack:#010202;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: var(--mainWhite);
}

.icon-top{
    background:var(--mainBlue);
}

.icon-top a{
    color:var(--mainWhite);
    font-size:25px;
    transition:color 1s ease-out;
}

.icon-top a:hover{
    color:var(--mainBlack);
}

/*#########navbar##############*/

.navbar{
    background: var(--mainBlack);
    padding:10px 20px;
    transition:padding 2s ease
}
.navbar-background{
    padding:2px 20px;
        
}
.navbar-brand{
    color:var(--mainWhite);
    border:3px solid var(--mainBlue);
    font-size:35px;
    transition:all 1s ease-in-out;
}
.navbar-brand:hover{
    background:var(--mainWhite);
    color:var(--mainBlack);
}