:root {
    --mainBlue:#192bc2;
    --cgBlue:#0471a6;
    --LightCobaltBlue:#89AAE6;
    --mainWhite:#f1fffa;  
    --mainBlack:#010202;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: var(--mainWhite);
}

.icon-top{
    background:var(--mainBlue);
}

.icon-top a{
    color:var(--mainWhite);
    font-size:25px;
    transition:color 1s ease-out;
}

.icon-top a:hover{
    color:var(--mainBlack);
}

